* {
	box-sizing: border-box;
	margin: 0;
	padding: 10;
}
  
  body {
	color: tan;
	font-family: Helvetica, Arial, sans-serif;
}

  main {
	display: flex;
	flex-wrap: wrap;
	flex: none;
  	background-color: #b9c6ae;
  	padding: 20px;
  	text-align: center;
  }
  
/* HEADER / NAV BAR STYLES START */
  
header {
	z-index: 9999;
	padding: 20px 35px;
	background-color: var(--tertiary-color);
	background-image: url("../images/Horshoecanyon.jpeg");
	background-size: cover;
	background-position: 80%;
	background-attachment: fixed;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
}
  
header h1 {
	font-weight: bold;
	margin: 0;
	font-size: 36px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h2 {
	font-weight: bold;
	margin: 0;
	font-size: 28px;
	color: darkorange;
	text-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
}
  
header a {
	text-decoration: none;
	color: white;
}
  
header nav {
	margin: 7px 0;
}
  
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
  
header nav ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 1.55vw;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header nav ul li a:hover {
	background: grey;
	color: white;
	border-radius: 15px;
	text-shadow: none;
}
  /* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
.hero {
	background-image: url('../images/Horshoecanyon.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.hero-objective {
	width: 80%;
	text-align: center;
	margin: 3.5%;
	color: white;
	font-size: 18px;
	line-height: 1.2;
}
  
.hero-objective h2 {
	font-size: 50px;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* HERO STYLES END */ 

/* PROJECT SECTION BEGINS */

.card {
	border-style: solid;
	border-color: orange;
	border-width: 3px;
	border-radius: 10px;
	padding: 5px;
	flex: 0 0 200px;
  }

.card header {
	font: white;
	font: inline;
	background-color: transparent;
	justify-content: center;

}
  
.card p {
	text-align: center;
	color: white;
  }
  
.card img {
	width: 100%;
  }

.projects-lll {
	flex: 4;
	background-color: transparent;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	position:sticky;
}

/* PROJECTION SECTION ENDS */

/* WORK EXPERIENCE STARTS */

.work-experiencelll {
	flex: 4;
	padding: 20px;
	display: inline;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	position:sticky;
	font-size: 18px;
}

.work-experiencelll h2 {
	color: darkorange;
	text-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
}
/* WORK EXPERIENCE ENDS */

/* EDUCATION & EXPERINCE BEGINS */

.education-certifications {
	flex: 4;
	font-size: 20px;
	color: white;
}

.education-certifications li {
	max-width: 900 px;
	text-align: justify;
	margin-top: 0 auto;
}

/* CONTACT ME SECTION START */

.contact-me {
	font-size: 20px;
	color: white;
	flex: 4;
	justify-content: center;
}

/* CONTACT ME END */

/* FOOTER BEGINS */
 footer {
	background: orange;
	padding: 40px 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top: auto;
}
  
  footer h2 {
	color: white;
	font-size: 20px;
	margin: 0;
  }
  
  footer div {
	line-height: 1.5;
	text-align: right;
	color: white;
  }
  
  /* END FOOTER */

  /* BEGIN MEDIA RESPONSIVE DESIGN */
@media screen and (max-width: 980px) {
	header {
	  padding-bottom: 0;
	  justify-content: center;
	  position: relative;
	}
  
	header h1 {
	  width: 100%;
	  text-align: center;
	}
  
	header nav ul {
	  margin-top: 20px;
	  width: 100%;
	  justify-content: center;
	}
  
	header nav ul li a {
	  font-size: 20px;
	}
  
	main, nav {
	flex-direction: column;
	}
	
	footer h2, footer div {
	  text-align: center;
	  width: 100%;
	}
  
	.hero-cta, .hero-form {
	  width: 100%;
	}
	
	.hero-cta {
	  text-align: center;
	}
  
	.section-title {
	  width: 80%;
	}
	
	.trainer {
	  flex: 0 70%;
	}
	
	.contact-info iframe{
	  flex: 1 100%;
	}
  }
  
  @media screen and (max-width: 768px) {
	section {
	  padding: 30px 15px;
	}

	main, nav {
		flex-direction: column;
	}
  
	.step h3 {
	  flex: 1 100%;
	  text-align: center;
	}
  
	.step-info {
	  flex: 2 100%;
	  text-align: center;
	  justify-content: center;
	}
  
	.step-img {
	  flex: 0 32%;
	  margin-right: 0;
	  margin-top: 15px;
	  margin-bottom: 15px;
	}
  
	.step-text {
	  flex: 100%;  
	}
}

  @media screen and (max-width: 575px) {
	.hero-form button {
	  width: 100%;
	}
  
	.section-title {
	  width: 95%;
	}
  
	.intro p {
	  width: 100%;
	}
	
	main, nav {
		flex-direction: column;
	}

	.trainer {
	  flex: 0 100%;
	}
  
	.contact-info {
	  text-align: center;
	}
  
	.contact-info > * {
	  flex: 0 100%;
	}
  
	.contact-form {
	  order: 3;
	}
}

